@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Source+Sans+Pro:wght@200;300;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.header{
    background: radial-gradient(#fff,#ffd5de);
    
    margin-bottom: 30px;
}

.logo{
    width: 130px;
    height: 40px;
}
.fa-shopping-bag{
    padding-left: 15px;
    padding-bottom: 4px;
}

 .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.header .col-6{
    margin: 80px 0;
    flex-basis: 50%;
    min-width: 300px;
}

.header .col-6 h1{
    padding-bottom:20px ;
    font-size: 50px;
}
.btn{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px;
    background-color: #f3558e;
    line-height: 20px;
    color: #fff;
    margin-top: 20px;
    transition: background 0.5s;
}
.btn:hover{
    background-color:#f386ae ;
    color: #fff;
}


.feature{
    margin: 80px 0;

}
.feature .col-3{
    flex-basis: 30%;
    min-width: 250px;
}
.feature .col-3 img{
    width: 100%;
    
}
.small-container{
    max-width: 1080px;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
}

.feature-product .col-3{
    flex-basis: 25%;
    min-width: 200px;
    transition: transform 0.5s;

}
.feature-product .col-3 .row{
    padding: 50px 0;
}
.feature-product .col-3 img{
    width: 100%;
    
}
.feature-product .col-3 p{
    margin: 0;
    padding: 0;
}
.product-container{
    
    margin: auto;
    max-width: 1080px;
}
.feature-product .col-3 h5, p{
    color: rgb(163, 159, 159);
}
.fea-product{
    padding-bottom:20px ;
    color: rgb(78, 77, 77);
    text-align: center;
    margin: 60px 0;
    position: relative;
    line-height: 50px;
    
}
.fea-product::after{
    content: '';
    width: 80px;
    height: 5px;
    border-radius: 10px;
    background-color: #f3558e;
    position: absolute;
    top: 50px;
    right: 485px;
    transform: translateX(-50%);

}
 i, .icon i{
    color: #f3558e;
}
.feature-product .col-3:hover{
transform: translateY(-3px);
}
.feature-product .col-3 a{
    text-decoration: none;
    color: rgb(163, 159, 159);
    
}
.feature-product .col-3 a:hover{
    color: rgb(192, 186, 186);
}
.offer-smart{
flex-basis: 50%;
    min-width: 400px;
    
}
.offer-smart img{
    width: 80%;
    margin-left: 100px;
}
.offer{
    padding:30px 0 ;
    background: radial-gradient(#fff,#ffd5de);
}
.offer-smart h1{
    padding-bottom: 20px;
}
.offer-smart small{
    padding-bottom: 20px;
}
.person{
    margin: 100px 0;
    
}
.person .col-3 img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    margin-left:80px;


}
.icon{
    padding-left: 80px;
    padding-bottom: 10px;
}
.person .col-3{
    border: 1px solid rgb(238, 231, 231);
    box-shadow: 0 0 10px 4px #e3e3e3;
    transition: transform 0.5s;
    
}
.person .col-3:hover{
    transform: translateY(-3px);
}
.person .col-3 h4{
    font-size: 20px;
    font-weight: 10px;
    text-align: center;
    padding: 20px 0;
    color: rgb(78, 76, 76);
}
.fa-quote-left{
    padding-left: 120px;
    margin: 20px;
}
.person .col-3 p{
    padding-right:  30px;
    padding-left: 30px;
    font-size: 15px;
}
.brands{
    margin: 100px auto;
}
.brands .col-5{
    display: flex;
    flex-basis: 20%;
    min-width: 100px;
    
}
.brands .col-5 img{
    width: 100%;
    filter: grayscale(100%);
     }
     .brands .col-5 img:hover{
        filter: grayscale(0); 
     }
     
     .footer .col-1, .col-2{
         
         flex-basis:30%;
         min-width: 250px;
     }
     .footer .col-1{
         margin-top: 20px;
     }
     .footer .col-2 img{
         width: 150px;
     }
     .footer .col-3{
         
         flex-basis: 20%;
         min-width: 200px;
     }
     .footer h4{
         color: #e3e3e3;
         
         font-size: 20px;
     }
     .footer{
         background: #000;
         padding: 50px 0;
     }
     .footer .col-3 ul{
         margin-left: 30px;
         
     }
     .footer .col-3 ul li{
         color: #6e6b6b;
         font-size: 15px;
         
         list-style-type: none;
     }
     .footer p{
         color: #6e6b6b;
         padding-top:  10px;
         font-size: 15px;
         
     }
     .footer .col-3 h4{
         text-align: center;
     }
     
     .footer-logo img{
         width: 150px;
         margin-bottom:20px ;
     }
     hr{
         border: none;
         height: 2px;
         background-color: #d5d5d5;
        margin: 20px 0;
     }
     .copy{
         color: #524f4f;
         text-align: center;
     }
 /* footer */
/* product page */
.product-row {
        margin: 40px 0;
    }
    .product-row select{
        height: 50px;
        padding: 0 20px;
        cursor: pointer;
    }
    .btn-all{
        margin: 50px 0;
    }
    .btn-all span{
        border: 1px solid #f3558e;
        padding: 8px 15px;
        width: 50px;
    }
    .feature-product .row{
        margin: 20px 0;
    }
    .btn-all span:hover{
        background-color:#f3558e ;
        color: #e3e3e3;
    }
    /* product detail */
    .product-detail{
        margin: 50px 0;
    }
    
    .product-detail .col-2{
       flex-basis: 60%;
       max-width: 450px;
       
    }
    .product-detail .col-2 img{
        width: 100%;
    }
    .product-detail .col-2 select{
        width: 150px;
        height: 40px;
        padding: 10px 10px;
        border:1px solid #f3558e;
        }
        .product-detail .col-2 input{
            margin-top: 20px;
            width: 50px;
            height: 40px;
            padding: 10px;
            margin-left: 20px;
            border:1px solid #f3558e;
        }
        .product-detail .col-2 h4{
            margin-top: 20px;
            font-size: 22px;
            font-weight: bold;
        }
        .product-detail .col-2 h1{
            font-weight: bold;
        }
        .product-img {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        
        }
        .product-img img{
            flex-basis: 30%;
            max-width: 75px;
            cursor: pointer;
        }
        .feature-product h1{
            font-weight: bold;
        }




     @media only screen and (max-width: 600px){
     .row{
         text-align: center;
     }
     .col-1, .col-2, .col-3, .col-5, .col-6{
         flex-basis: 100%;
     }
     .product-detail .col-2 h1{
         font-size: 26px;
         line-height: 22px;
     }
     .product-detail .col-2 .t-shirt{
         margin-top: 20px;
     }
     
     
     }
     




